<!DOCTYPE html>
<html>
<head>
  <title>Editor</title>
  <meta charset="utf-8">
  <link href="stylesheets/app.css" media="screen, projection" rel="stylesheet" type="text/css"/>
  <link href="stylesheets/ng-grid.css" media="screen, projection" rel="stylesheet" type="text/css"/>
  <script src="javascripts/angular/angular.min.js"></script>
  <script type="text/javascript" src="javascripts/vendor/jquery.js"></script>
  <script type="text/javascript" src="javascripts/vendor/tinymce/tinymce.min.js"></script>
  <script type="text/javascript" src="javascripts/vendor/tinymce.js"></script>
  <script type="text/javascript" src="javascripts/vendor/custom.modernizr.js"></script>
  <script type="text/javascript" src="javascripts/angular/app/app.js"></script>
  <script type="text/javascript" src="javascripts/angular/app/controller.js"></script>
  <script type="text/javascript" src="javascripts/angular/app/service.js"></script>

  <style type="text/css">
    .checked {
      background-color: #FF0000;
    }</style>
</head>
<body ng-app="gridator">
<header>
  <nav class="top-bar" data-options="is_hover:false">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a href="#">Gridator</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider hide-for-small"></li>
        <li class="has-dropdown"><a href="#">What is this?</a>

          <ul class="dropdown">
            <li><a href="#">About the Gridator</a></li>
            <li><a href="#">Authors</a></li>
            <li><a href="#">Source</a></li>
            <li class="divider"></li>
            <li><a href="#">Help</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li class="divider show-for-small"></li>
        <li class="has-form">
          <a class="button" href="#">Like!</a>
        </li>
      </ul>
    </section>
  </nav>
</header>
<div class="row">
  <div class="twelve columns">
    <h2>I need your grids, rows and colls.</h2>

    <hr/>
  </div>
</div>


<div class="row" ng-controller="MyCtrl">
  <div class="column large-12">
    <div class="gridator">
      <div class="gridator_wrap">
        <div ng-style="MyStyle"></div>
        <div ng-init="">
          <div ng-repeat='row in rows.colums' class="row">
            <div ng-repeat='cell in row.cell' class="columns large-{{cell.cell}}">
              <div ng-style="MyStyle" ng-class="cell.class1" ng-click="selectrow(cell.index,row.row)"
                   ng-bind-html-unsafe="cell.cellhtml" class="cell_bg"></div>

            </div>
          </div>
          {{MyStyle}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">

        <!-- Grid Example -->
        <div class="row">
          <div class="large-12 columns">
            <input id="bg" type="file"/>
            <input type="text" ng-model="row" placeholder="rows"/>
            <input type="text" ng-model="cell" placeholder="cells"/>

            <div ng-show="editcell">
              <textarea ui-tinymce ng-model="cellcontent" style="height:250px"></textarea>
            </div>
            <input type="hidden" ng-model="activecell">
            <input type="button" ng-show="editcell" value="Сохранить" ng-click="gethtmlElement()"/>
            <input type="button" ng-show="select" value="Объединить" ng-click="summElement()">

            <input type="button" ng-click="generateHTML()" value="generate HTML">
            <SPAN ng-show="reshtml">{{reshtml}}</SPAN>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<script type="text/javascript" src="javascripts/foundation/foundation.js"></script>
<script type="text/javascript" src="javascripts/foundation/foundation.dropdown.js"></script>
<script type="text/javascript" src="javascripts/foundation/foundation.topbar.js"></script>
<script type="text/javascript">
  $(document).foundation();
</script>
<script type="text/javascript" src="javascripts/app.js"></script>

</body>
</html>
