<div id="gridatorAuthors" >
  <div class="row">
    <div class="column large-12">
      <h2>Who do that?</h2>

      <div class="row">
        <div class="columns large-6">
          <div class="columns large-4">
            <a class="th radius round" href="https://twitter.com/coderxlsn" target="_blank">
              <img src="images/coderxlsn.jpg">
            </a>
          </div>
          <div class="columns large-8">
            <h1>Artur Rostriga</h1>
            <h4>The AngularJS hero</h4>

            <p>He was coded all the application logic.</p>
            <ul>
              <li>Twitter <a href="https://twitter.com/coderxlsn">@coderxlsn</a></li>
              <li>Github <a href="https://github.com/coderxlsn">@coderxlsn</a></li>
              <li>Facebook <a href="https://www.facebook.com/coderxlsn">coderxlsn</a></li>
            </ul>
          </div>
        </div>
        <div class="columns large-6">
          <div class="columns large-4">
            <a class="th radius round" href="https://twitter.com/mc_mart" target="_blank">
              <img src="images/mir4a.jpg">
            </a>
          </div>
          <div class="columns large-8">
            <h1>Miroslav Martynov</h1>
            <h4>The Html5 and css3 rocky</h4>

            <p>He is generate idea of gridator. Also coded and styled a bunch of markup.</p>
            <ul>
              <li>Twitter <a href="https://twitter.com/mc_mart">@mc_mart</a></li>
              <li>Github <a href="https://github.com/mir4a">@mir4a</a></li>
              <li>Facebook <a href="https://www.facebook.com/miroslav.martynov">miroslav.martynov</a></li>
              <li>Skype <a href="https://www.facebook.com/miroslav.martynov">miroslav.martynov</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
