<div class="row">
  <div class="columns large-offset-2 large-8">
    <h2>Source code</h2>
    <p>Here is link to Gridator repository <a href="https://github.com/mir4a/gridator" target="_blank">github.com/mir4a/gridator</a>.
      We're alway opened to critique and feedback in your pull-requests.
    </p>

    <h3>History</h3>
    <ul>
      <li><time>28.09.2013</time> – The time when we started to implement the idea of the Gridator. It was on #douhack at the Donetsk.</li>
      <li><time>29.09.2013</time> – We presented the first raw version of the Gridator. It's v0.0.1 bringing to life.</li>
    </ul>
  </div>
</div>
